/* ---------------------------------------------------------------------------------------------------------------------

  88888888e.     d8b       88888888e.       d8b       8bc:..  88888    .8888888.    88888  888888888.        d8b
  888888888b    d888b      888888888b      d888b      888888bb88888   d888888888b   88888  8888888888b      d888b
  888888888D   d88888b     888888888D     d88888b     8888888888888  C88888888888D  88888  88888888888D    d88888b
  88888888P   d8888888b    88888888P     d8888888b    8888888888888  C88888888888D  88888  88888888888D   d8888888b
  888888P    d888888888b   88888888b    d888888888b   8888888888888   d888888888P   88888  8888888888b   d888888888b
  88888     d88888888888b  888888888b  d88888888888b  8888888888888    '8888888'    88888  888888888'   d88888888888b

------------------------------------------------------------------------------------------------------------------------

    Author: Rafal Bromirski
    www: http://paranoida.com/
    blog: http://lab.paranoida.com/

    twitter: http://twitter.com/paranoida
    dribbble: http://dribbble.com/paranoida

    Licensed under a MIT License

--------------------------------------------------------------------------------------------------------------------- */

/* --- main content ------------------------------------------------------------------------------------------------- */
@import "base.scss";

/* Special microsoft media queries */
@media (-ms-view-state: snapped) {
	h1, .win-type-xx-large {
		font-size: 20pt;
		font-weight: 200;
		line-height: 1.2; /* 32px when font-size is 20pt */
	}
	h2, .win-type-x-large {
		font-size: 11pt;
		font-weight: 600;
		line-height: 1.3636; /* 20px when font-size is 11pt */
	}
	h3, .win-type-large {
		font-size: 11pt;
		font-weight: 400;
		line-height: 1.3636; /* 20px when font-size is 11pt */
	}
	h1.win-type-ellipsis, .win-type-xx-large.win-type-ellipsis {
		line-height: 1.5; /* 40px when font-size is 20pt */
	}
	h2.win-type-ellipsis, .win-type-x-large.win-type-ellipsis {
		line-height: 1.3636; /* 20px when font-size is 11pt */
	}

	.win-backbutton {
		width: 30px;
		height: 30px;
		font-size: 10pt;
		line-height: 26px; /* line-height must match the content box height */
		vertical-align: -0.37em;
	}
	.win-tooltip {
		max-width: 310px;
		box-sizing: border-box;
	}

	.fragment header[role=banner] {
		-ms-grid-columns: auto 1fr;
		margin-left: 15px;
		margin-right: 15px;
	}

	.fragment header[role=banner] .win-backbutton {
		-ms-grid-column: 1;
		margin-bottom: 0;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 76px;
	}

	.fragment header[role=banner] .win-backbutton:disabled {
		display: none;
	}

	.fragment header[role=banner] .titlearea {
		-ms-grid-column: 2;
		margin-bottom: 0;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 68px;
	}
}

@media screen and (-ms-view-state: fullscreen-portrait) {
	.fragment header[role=banner] {
		-ms-grid-columns: 29px 71px 1fr;
	}

	/*	For items page (default) */
	.itemspage .itemslist .win-horizontal.win-viewport .win-surface {
		margin-left: 95px;
		margin-right: 95px;
	}
}

@media (-ms-high-contrast) {
/*
AppBar Borders
*/
	.win-appbar {
		border: solid 2px;
	}
	.win-appbar.win-top {
		border-top: none;
		border-left: none;
		border-right: none;
	}
	.win-appbar.win-bottom {
		border-bottom: none;
		border-left: none;
		border-right: none;
	}
	.win-appbar.win-top button.win-command {
		padding-bottom: 10px;
	}
	.win-appbar.win-bottom button.win-command {
		padding-top: 10px;
	}
	.win-appbar.win-top hr.win-command {
		margin-bottom: 32px;
	}
	.win-appbar.win-bottom hr.win-command {
		margin-top: 12px;
	}
	.win-commandlayout {
		min-height: 66px;
	}
	.win-commandlayout {
		min-height: 66px;
	}
	.win-appbar.win-top hr.win-command {
		margin-bottom: 12px;
	}
	.win-appbar.win-bottom hr.win-command {
		margin-top: 12px;
	}
}

@media (-ms-high-contrast) {
/*
Typographic color definitions.
*/
	.win-type-interactive {
		color: WindowText;
	}
	.win-type-interactive:hover, .win-type-interactive:hover:active {
		color: -ms-hotlight;
	}
	.win-type-interactive:-ms-keyboard-active {
		color: -ms-hotlight;
	}

/*
Text selection high contrast color.
*/
	::selection, select:focus::-ms-value {
		background-color: Highlight;
		color: HighlightText;
	}

/*
Button high contrast colors.
*/
	button, input[type=button], input[type=reset],
	input[type=file]::-ms-browse, input::-ms-clear,
	input::-ms-reveal, select::-ms-expand, .win-backbutton, .win-semanticzoom-button {
		background-color: ButtonFace;
		border-color: ButtonText;
		color: ButtonText;
	}
	button[type=submit], input[type=submit] {
		background-color: Highlight;
		border-color: ButtonText;
		color: HighlightText;
	}
	button:hover, input[type=button]:hover, input[type=reset]:hover,
	input::-ms-clear:hover, input::-ms-reveal:hover,
	input[type=file]::-ms-browse:hover, .win-backbutton:hover, .win-semanticzoom-button:hover {
		background-color: Highlight;
		border-color: ButtonText;
		color: HighlightText;
	}
	button:hover:active, button[type=submit]:hover:active, input[type=button]:hover:active,
	input[type=submit]:hover:active, input[type=reset]:hover:active,
	input::-ms-clear:hover:active, input::-ms-reveal:hover:active,
	input[type=file]::-ms-browse:hover:active, .win-backbutton:hover:active,
	.win-semanticzoom-button:hover:active {
		background-clip: border-box;
		background-color: ButtonText;
		border-color: transparent;
		color: ButtonFace;
	}
	button:-ms-keyboard-active, button[type=submit]:-ms-keyboard-active, input[type=button]:-ms-keyboard-active,
	input[type=submit]:-ms-keyboard-active, input[type=reset]:-ms-keyboard-active,
	.win-backbutton:-ms-keyboard-active, .win-semanticzoom-button:-ms-keyboard-active {
		background-clip: border-box;
		background-color: ButtonText;
		border-color: transparent;
		color: ButtonFace;
	}
	button:disabled, button[type=submit]:disabled, input[type=button]:disabled,
	input[type=submit]:disabled, input[type=reset]:disabled,
	input[type=file]:disabled::-ms-browse, input:disabled::-ms-clear, input:disabled::-ms-reveal,
	select:disabled::-ms-expand, .win-backbutton:disabled,
	button:disabled:active, button[type=submit]:disabled:active, input[type=button]:disabled:active,
	input[type=submit]:disabled:active, input[type=reset]:disabled:active,
	input[type=file]:disabled::-ms-browse:active, .win-backbutton:disabled:active {
		background-color: ButtonFace;
		border-color: GrayText;
		color: GrayText;
	}

/*
Text input, checkbox, radio, and select high contrast colors.
*/
	input[type=text], input[type=password],
	input[type=email], input[type=number],
	input[type=tel], input[type=url],
	input[type=search], textarea, .win-textarea, select,
	input::-ms-check {
		background-color: ButtonFace;
		border-color: ButtonText;
		color: ButtonText;
	}
	input:hover::-ms-check {
		/* only checkbox and radio have hover state */
		background-color: Highlight;
		color: HighlightText;
	}
	input:hover:active::-ms-check {
		/* only checkbox and radio have active state */
		background-clip: border-box;
		background-color: ButtonText;
		border-color: transparent;
		color: ButtonFace;
	}
	input:-ms-keyboard-active::-ms-check {
		/* only checkbox and radio have active state */
		background-clip: border-box;
		background-color: ButtonText;
		border-color: transparent;
		color: ButtonFace;
	}
	input[type=text]:disabled, input[type=password]:disabled,
	input[type=email]:disabled, input[type=number]:disabled,
	input[type=tel]:disabled, input[type=url]:disabled,
	input[type=search]:disabled, input[type=file]::-ms-value,
	textarea:disabled, .win-textarea:disabled, select:disabled,
	input:disabled::-ms-check, input:disabled:active::-ms-check {
		border-color: GrayText;
		color: ButtonText;
		background-color: ButtonFace;
	}
	input:disabled::-ms-check, input:disabled:active::-ms-check,
	input[type]:-ms-input-placeholder, textarea:-ms-input-placeholder,
	select:disabled::-ms-value {
		color: GrayText;
	}

/*
Select option high contrast colors.
*/
	option:checked, select:focus::-ms-value {
		color: HighlightText;
		background-color: Highlight;
	}
	select:active:not(:disabled)::-ms-value, select:active:not(:disabled)::-ms-expand,
	option:hover:active, option:checked:hover:active {
		color: ButtonFace;
		background-color: ButtonText;
	}
	option:checked:disabled, option:checked:disabled:active,
	optgroup:disabled option:checked, optgroup:disabled option:checked:active,
	select:disabled option:checked, select:disabled option:checked:active,
	select:disabled:focus::-ms-value {
		color: ButtonFace;
		background-color: GrayText;
	}

/*
Link high contrast colors.
*/
	a {
		color: -ms-hotlight;
	}
	a[disabled] {
		color: GrayText;
	}

/*
Progress high contrast colors.
*/
	progress {
		border: 1px solid ButtonText;
		background-color: ButtonFace;
		color: Highlight;
	}
	progress:indeterminate {
		border: transparent;
	}
	progress::-ms-fill {
		border-right: 1px solid ButtonText;
		background-color: Highlight;
	}
	progress.win-paused:not(:indeterminate)::-ms-fill {
		background-color: GrayText;
	}
	progress.win-paused:not(:indeterminate) {
		opacity: 1.0;
	}

/*
Range control high contrast colors.
*/
	input[type=range]::-ms-track {
		border: 1px solid ButtonText;
		background-color: ButtonFace;
		color: transparent;
	}
	input[type=range]:disabled::-ms-track {
		border-color: GrayText;
	}
	input[type=range]::-ms-fill-lower {
		background-color: Highlight;
	}
	input[type=range]:disabled::-ms-fill-lower {
		background-color: transparent;
	}
	input[type=range]::-ms-ticks-before,
	input[type=range]::-ms-ticks-after {
		color: ButtonText;
	}
	input[type=range]:disabled::-ms-ticks-before,
	input[type=range]:disabled::-ms-ticks-after {
		color: GrayText;
	}
	input[type=range]::-ms-thumb {
		background-color: ButtonText;
		border-left: 1px solid HighlightText;
		border-right: 1px solid HighlightText;
	}
	input[type=range].win-vertical::-ms-thumb {
		border-left-style: none;
		border-right-style: none;
		border-top: 1px solid HighlightText;
		border-bottom: 1px solid HighlightText;
	}
	input[type=range]:hover::-ms-thumb {
		background-color: Highlight;
	}
	input[type=range]:active::-ms-thumb {
		background-color: HighlightText;
		border-color: ButtonText;
	}
	input[type=range]:disabled::-ms-thumb,
	input[type=range]:disabled:active::-ms-thumb {
		background-color: GrayText;
		border-color: GrayText;
	}

/*
AppBar high contrast colors.
*/
	.win-appbar {
		background-color: ButtonFace;
		border-color: Highlight;
	}

/*
Command button label high contrast colors.
*/
	button.win-command,
	button.win-command:active,
	button.win-command:hover:active {
		background-color: transparent;
		border-color: transparent;
	}
	hr.win-command {
		background-color: ButtonText;
	}
	.win-label {
		background-color: transparent;
		color: ButtonText;
	}
	button:disabled .win-label,
	button:disabled:active .win-label {
		color: GrayText;
	}
	button.win-command:focus {
		border-color: ButtonText;
	}
	button.win-hidefocus:focus {
		outline: none;
	}
	button.win-command.win-hidefocus:focus {
		border-color: transparent;
	}

/*
Command Image high contrast colors with states
*/
	.win-commandimage {
		background-color: transparent;
		color: ButtonText;
	}
	button:active .win-commandimage,
	button:hover:active .win-commandimage {
		color: ButtonFace;
	}
	button:hover .win-commandimage {
		color: HighlightText;
	}
	button:disabled .win-commandimage,
	button:disabled:active .win-commandimage {
		color: GrayText;
	}
	button[aria-checked=true] .win-commandimage {
		color: ButtonFace;
	}
	button[aria-checked=true]:active .win-commandimage,
	button[aria-checked=true]:hover:active .win-commandimage {
		color: ButtonText;
	}
	button[aria-checked=true]:hover .win-commandimage {
		color: HighlightText;
	}
	button[aria-checked=true]:disabled .win-commandimage,
	button[aria-checked=true]:disabled:active .win-commandimage {
		color: ButtonFace;
	}

/*
Command Image high contrast colors with states
*/
	.win-commandring {
		background-color: transparent;
		border-color: ButtonText;
	}
	button:active .win-commandring,
	button:hover:active .win-commandring {
		background-color: ButtonText;
		border-color: ButtonText;
	}
	button:hover .win-commandring {
		background-color: Highlight;
		border-color: ButtonText;
	}
	button:disabled .win-commandring,
	button:disabled:active .win-commandring {
		background-color: transparent;
		border-color: GrayText;
	}
	button[aria-checked=true] .win-commandring {
		background-color: ButtonText;
		border-color: ButtonText;
	}
	button[aria-checked=true]:active .win-commandring,
	button[aria-checked=true]:hover:active .win-commandring {
		background-color: ButtonFace;
		border-color: ButtonText;
	}
	button[aria-checked=true]:hover .win-commandring {
		background-color: Highlight;
		border-color: ButtonText;
	}
	button[aria-checked=true]:disabled .win-commandring,
	button[aria-checked=true]:disabled:active .win-commandring {
		background-color: GrayText;
		border-color: GrayText;
	}

/*
Menu command high contrast colors
*/
	.win-menu hr.win-command {
		background-color: ButtonText;
	}
	.win-menu button.win-command {
		background-color: ButtonFace;
		color: ButtonText;
	}
	.win-menu button.win-command:focus {
		outline: none;
		background-color: Highlight;
		color: HighlightText;
	}
	.win-menu button.win-command:active {
		background-color: Highlight;
		color: HighlightText;
	}
	.win-menu button.win-command:hover:active {
		background-color: ButtonText;
		color: ButtonFace;
	}
	.win-menu button.win-command:-ms-keyboard-active {
		background-color: ButtonText;
		color: ButtonFace;
	}
	.win-menu button.win-command:disabled,
	.win-menu button.win-command:disabled:active {
		background-color: ButtonFace;
		color: GrayText;
	}

/*
FlipView high contrast colors.
*/
	.win-flipview .win-navbottom {
		left: 50%;
		top: 100%;
		margin-left: -35px;
		margin-top: -35px;
	}
	.win-flipview .win-navbutton {
		background-color: ButtonFace;
		color: ButtonText;
		border: 2px solid ButtonText;
		width: 65px;
		height: 35px;
	}
	.win-flipview .win-navbutton:hover {
		background-color: Highlight;
		color: HighlightText;
	}
	.win-flipview .win-navbutton:active {
		background-color: ButtonText;
		color: ButtonFace;
	}
	.win-flipview .win-navright {
		margin-left: -65px;
	}

/*
Flyout control high contrast colors.
*/
	.win-flyout, .win-settingsflyout {
		background-color: Window;
		border-color: WindowText;
		color: WindowText;
	}

/*
ListView high contrast colors.
*/
	.win-listview.win-selectionstylefilled .win-container {
		background-color: Window;
		color: WindowText;
	}
	.win-listview .win-container:hover {
		outline: Highlight solid 3px;
	}
	.win-listview.win-selectionstylefilled .win-container:hover {
		background-color: Highlight;
		color: HighlightText;
	}
	.win-listview .win-focusedoutline {
		outline-color: WindowText;
	}
	.win-listview.win-selectionstylefilled .win-container.win-selected,
	.win-listview.win-selectionstylefilled .win-container.win-selected:hover {
		background-color: Highlight;
		color: HighlightText;
	}
	.win-listview .win-groupheader {
		color: WindowText;
	}
	.win-listview:not(.win-selectionstylefilled) .win-container.win-selected .win-selectionborder {
		border-color: Highlight;
	}
	.win-listview.win-selectionstylefilled .win-container.win-selected .win-selectionborder {
		border-color: transparent;
	}
	.win-listview:not(.win-selectionstylefilled) .win-container.win-selected:hover .win-selectionborder {
		border-color: Highlight;
	}
	.win-listview.win-selectionstylefilled .win-selected .win-selectionbackground,
	.win-listview.win-selectionstylefilled .win-selected:hover .win-selectionbackground {
		background-color: Highlight;
		color: HighlightText;
	}
	.win-selectioncheckmark {
		color: HighlightText;
	}
	.win-listview.win-selectionstylefilled .win-selectioncheckmarkbackground {
		border-color: transparent;
	}
	.win-listview:not(.win-selectionstylefilled) .win-selectioncheckmarkbackground {
		border-top-color: Highlight;
		border-right-color: Highlight;
		border-left-color: transparent;
		border-bottom-color: transparent;
	}
	.win-listview:not(.win-selectionstylefilled) .win-selectioncheckmarkbackground:hover {
		border-top-color: Highlight;
		border-right-color: Highlight;
	}
	.win-listview.win-rtl:not(.win-selectionstylefilled) .win-selectioncheckmarkbackground {
		border-top-color: Highlight;
		border-left-color: Highlight;
		border-right-color: transparent;
		border-bottom-color: transparent;
	}
	.win-listview .win-selectionhint {
		color: WindowText;
	}
	.win-listview.win-selectionstylefilled .win-selected a,
	.win-listview.win-selectionstylefilled .win-container:hover a,
	.win-listview.win-selectionstylefilled .win-selected progress,
	.win-listview.win-selectionstylefilled .win-container:hover progress,
	.win-listview.win-selectionstylefilled .win-selected .win-rating .win-star:after,
	.win-listview.win-selectionstylefilled .win-container:hover .win-rating .win-star:after {
		color: HighlightText;
	}
	.win-listview.win-selectionstylefilled .win-selected input,
	.win-listview.win-selectionstylefilled .win-container:hover input,
	.win-listview.win-selectionstylefilled .win-selected input::-ms-check,
	.win-listview.win-selectionstylefilled .win-container:hover input::-ms-check,
	.win-listview.win-selectionstylefilled .win-selected input::-ms-value,
	.win-listview.win-selectionstylefilled .win-container:hover input::-ms-value,
	.win-listview.win-selectionstylefilled .win-selected input::-ms-track,
	.win-listview.win-selectionstylefilled .win-container:hover input::-ms-track,
	.win-listview.win-selectionstylefilled .win-selected button,
	.win-listview.win-selectionstylefilled .win-container:hover button,
	.win-listview.win-selectionstylefilled .win-selected progress,
	.win-listview.win-selectionstylefilled .win-container:hover progress,
	.win-listview.win-selectionstylefilled .win-selected progress::-ms-fill,
	.win-listview.win-selectionstylefilled .win-container:hover progress::-ms-fill,
	.win-listview.win-selectionstylefilled .win-selected select,
	.win-listview.win-selectionstylefilled .win-container:hover select,
	.win-listview.win-selectionstylefilled .win-selected textarea,
	.win-listview.win-selectionstylefilled .win-container:hover textarea {
		border-color: HighlightText;
	}
	.win-listview.win-selectionstylefilled .win-selected input[type=range]::-ms-fill-lower,
	.win-listview.win-selectionstylefilled .win-container:hover input[type=range]::-ms-fill-lower,
	.win-listview.win-selectionstylefilled .win-selected progress::-ms-fill,
	.win-listview.win-selectionstylefilled .win-container:hover progress::-ms-fill {
		background-color: HighlightText;
	}
	.win-listview.win-selectionstylefilled .win-selected input[type=range]::-ms-fill-upper,
	.win-listview.win-selectionstylefilled .win-container:hover input[type=range]::-ms-fill-upper,
	.win-listview.win-selectionstylefilled .win-selected progress,
	.win-listview.win-selectionstylefilled .win-container:hover progress {
		background-color: Highlight;
	}
	.win-listview.win-selectionstylefilled .win-selected .win-rating .win-star.win-full:before,
	.win-listview.win-selectionstylefilled .win-container:hover .win-rating .win-star.win-full:before {
		color: ButtonFace;
	}
	.win-listview.win-selectionstylefilled .win-selected .win-rating .win-star.win-empty:before,
	.win-listview.win-selectionstylefilled .win-container:hover .win-rating .win-star.win-empty:before {
		color: HighLight;
	}

/*
Rating control high contrast colors.
*/
	.win-rating .win-star:before {
		content: "\E082" !important;
	}
	.win-rating .win-star.win-full {
		color: HighLight;
	}
	.win-rating .win-star.win-tentative.win-full {
		color: ButtonText;
	}
	.win-rating .win-star.win-empty {
		color: ButtonFace;
	}
	.win-rating .win-star:after {
		content: "\E224" !important;
		position: relative;
		top: -100%;
		color: ButtonText;
	}

/*
Toggle control high contrast colors.
*/
	.win-toggleswitch .win-switch::-ms-thumb {
		height: 17px; /* 19px - 1px borders */
	}
	.win-toggleswitch .win-switch:disabled::-ms-fill-lower {
		background-color: GrayText;
	}

/*
Tooltip high contrast colors.
*/
	.win-tooltip {
		background-color: Window;
		border-color: WindowText;
		color: WindowText;
	}
}

/* --- media queries ------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
	body {
		font-size: 0.8em;
	}

	button.win-command .win-label {
		display: none;
	}
	button.win-command .win-commandicon {
		margin: 0 8px; /* 2px margin for focus */
	}
	.win-commandlayout {
		min-height: 68px;
	}
	hr.win-command {
		margin-bottom: 14px;
		margin-top: 14px;
	}
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {
/* to avoid the adjustment of fonts on iOS devices you should keep this line */
	* {
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
	}
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 400px) {
}

@media screen and (max-width: 320px) {
	hr.win-command {
		margin-left: 10px;
		margin-right: 9px;
	}
	hr.win-command:-ms-lang(ar, dv, fa, he, ku-Arab, pa-Arab, prs, ps, sd-Arab, syr, ug, ur, qps-plocm) {
		margin-left: 9px;
		margin-right: 10px;
	}
	.win-commandlayout {
		padding-right: 10px;
		width: calc(100% - 20px);
	}

	.win-commandlayout.win-bottom {
		/* Overflow buttons up instead of down */
		writing-mode: lr-bt;
	}

	.win-commandlayout.win-bottom:-ms-lang(ar, dv, fa, he, ku-Arab, pa-Arab, prs, ps, sd-Arab, syr, ug, ur, qps-plocm) {
		writing-mode: rl-bt;
	}
}

/* --- iPad --------------------------------------------------------------------------------------------------------- */

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* --- iPhone 4(S) retina ------------------------------------------------------------------------------------------- */

@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {

}

/* --- iPhone ------------------------------------------------------------------------------------------------------- */

@media screen and (max-device-width: 640px) and (-webkit-device-pixel-ratio: 1), screen and (max-device-width: 640px) and (device-pixel-ratio: 1) {
}

/* --- print (optional) --------------------------------------------------------------------------------------------- */

@media print {
	body {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
/* Black prints faster: sanbeiji.com/archives/953 */
	a, a:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}
/* Don't show links for images, or javascript/internal links */
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
/* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}

p, h2, h3 {
	orphans: 3;
	widows: 3;
}

h2, h3 {
	page-break-after: avoid;
}

	}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 1200px) {

}

/* Smaller screens */

@media only screen and (max-width: 1023px) {

}

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
		font-size: $baseFontSize;
		-webkit-text-size-adjust: none;
	}

	.row, body, .container {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
	}

	@for $i from 1 through $num-cols {
		.row .#{ col-name($i) } {
			width: auto;
			float: none;
			position: static !important;
			margin-left: 0;
			margin-right: 0;
			padding-right: $container-lateral-padding;
			//padding-left: $container-lateral-padding;
		}
	}

	img {
		width: 100%;
		height: 100%;
	}
	header {
		overflow: visible;
	}
	.toolbar, .form-actions, header, footer, caption, menu, figure, figcaption, nav {
		text-align: center;
	}
	textarea, input {
		width: 98%;
		min-width: 98%;
		padding: $borderRadius;
	}
}