@import "base.scss";

body,
.win-type-xx-large,
.win-type-x-large,
.win-type-large,
.win-type-medium,
.win-type-small,
.win-type-x-small,
.win-type-xx-small,
input,
textarea,
.win-textarea,
button,
select,
option {
	font-family: "Segoe UI", "Ebrima", "Nirmala UI", "Gadugi", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

/* Languages */

body:-ms-lang(am, ti),
.win-type-xx-large:-ms-lang(am, ti),
.win-type-x-large:-ms-lang(am, ti),
.win-type-large:-ms-lang(am, ti),
.win-type-medium:-ms-lang(am, ti),
.win-type-small:-ms-lang(am, ti),
.win-type-x-small:-ms-lang(am, ti),
.win-type-xx-small:-ms-lang(am, ti),
input:-ms-lang(am, ti),
textarea:-ms-lang(am, ti),
.win-textarea:-ms-lang(am, ti),
button:-ms-lang(am, ti),
select:-ms-lang(am, ti),
option:-ms-lang(am, ti) {
	font-family: "Ebrima", "Segoe UI", "Nirmala UI", "Gadugi", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

body:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te),
.win-type-xx-large:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te),
.win-type-x-large:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te),
.win-type-large:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te),
.win-type-medium:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te),
.win-type-small:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te),
.win-type-x-small:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te),
.win-type-xx-small:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te),
input:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te),
textarea:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te),
.win-textarea:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te),
button:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te),
select:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te),
option:-ms-lang(as, bn, gu, hi, kn, kok, ml, mr, ne, or, pa, si, ta, te) {
	font-family: "Nirmala UI", "Segoe UI", "Ebrima", "Gadugi", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

body:lang(chr-CHER-US),
.win-type-xx-large:lang(chr-CHER-US),
.win-type-x-large:lang(chr-CHER-US),
.win-type-large:lang(chr-CHER-US),
.win-type-medium:lang(chr-CHER-US),
.win-type-small:lang(chr-CHER-US),
.win-type-x-small:lang(chr-CHER-US),
.win-type-xx-small:lang(chr-CHER-US),
input:lang(chr-CHER-US),
textarea:lang(chr-CHER-US),
.win-textarea:lang(chr-CHER-US),
button:lang(chr-CHER-US),
select:lang(chr-CHER-US),
option:lang(chr-CHER-US) {
	font-family: "Gadugi", "Segoe UI", "Ebrima", "Nirmala UI", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

body:lang(ja),
.win-type-xx-large:lang(ja),
.win-type-x-large:lang(ja),
.win-type-large:lang(ja),
.win-type-medium:lang(ja),
.win-type-small:lang(ja),
.win-type-x-small:lang(ja),
.win-type-xx-small:lang(ja),
input:lang(ja),
textarea:lang(ja),
.win-textarea:lang(ja),
button:lang(ja),
select:lang(ja),
option:lang(ja) {
	font-family: "Meiryo UI", "Segoe UI", "Ebrima", "Nirmala UI", "Gadugi", "Segoe UI Symbol", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

body:lang(km),
.win-type-xx-large:lang(km),
.win-type-x-large:lang(km),
.win-type-large:lang(km),
.win-type-medium:lang(km),
.win-type-small:lang(km),
.win-type-x-small:lang(km),
.win-type-xx-small:lang(km),
input:lang(km),
textarea:lang(km),
.win-textarea:lang(km),
button:lang(km),
select:lang(km),
option:lang(km) {
	font-family: "Khmer UI", "Segoe UI", "Ebrima", "Nirmala UI", "Gadugi", "Segoe UI Symbol", "Meiryo UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

body:lang(ko),
.win-type-xx-large:lang(ko),
.win-type-x-large:lang(ko),
.win-type-large:lang(ko),
.win-type-medium:lang(ko),
.win-type-small:lang(ko),
.win-type-x-small:lang(ko),
.win-type-xx-small:lang(ko),
input:lang(ko),
textarea:lang(ko),
.win-textarea:lang(ko),
button:lang(ko),
select:lang(ko),
option:lang(ko) {
	font-family: "Malgun Gothic", "Segoe UI", "Ebrima", "Nirmala UI", "Gadugi", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

body:lang(lo),
.win-type-xx-large:lang(lo),
.win-type-x-large:lang(lo),
.win-type-large:lang(lo),
.win-type-medium:lang(lo),
.win-type-small:lang(lo),
.win-type-x-small:lang(lo),
.win-type-xx-small:lang(lo),
input:lang(lo),
textarea:lang(lo),
.win-textarea:lang(lo),
button:lang(lo),
select:lang(lo),
option:lang(lo) {
	font-family: "Lao UI", "Segoe UI", "Ebrima", "Nirmala UI", "Gadugi", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

body:lang(th),
.win-type-xx-large:lang(th),
.win-type-x-large:lang(th),
.win-type-large:lang(th),
.win-type-medium:lang(th),
.win-type-small:lang(th),
.win-type-x-small:lang(th),
.win-type-xx-small:lang(th),
input:lang(th),
textarea:lang(th),
.win-textarea:lang(th),
button:lang(th),
select:lang(th),
option:lang(th) {
	font-family: "Leelawadee", "Segoe UI", "Ebrima", "Nirmala UI", "Gadugi", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

body:-ms-lang(zh-CN, zh-Hans, zh-SG),
.win-type-xx-large:-ms-lang(zh-CN, zh-Hans, zh-SG),
.win-type-x-large:-ms-lang(zh-CN, zh-Hans, zh-SG),
.win-type-large:-ms-lang(zh-CN, zh-Hans, zh-SG),
.win-type-medium:-ms-lang(zh-CN, zh-Hans, zh-SG),
.win-type-small:-ms-lang(zh-CN, zh-Hans, zh-SG),
.win-type-x-small:-ms-lang(zh-CN, zh-Hans, zh-SG),
.win-type-xx-small:-ms-lang(zh-CN, zh-Hans, zh-SG),
input:-ms-lang(zh-CN, zh-Hans, zh-SG),
textarea:-ms-lang(zh-CN, zh-Hans, zh-SG),
.win-textarea:-ms-lang(zh-CN, zh-Hans, zh-SG),
button:-ms-lang(zh-CN, zh-Hans, zh-SG),
select:-ms-lang(zh-CN, zh-Hans, zh-SG),
option:-ms-lang(zh-CN, zh-Hans, zh-SG) {
	font-family: "Microsoft YaHei UI", "Segoe UI", "Ebrima", "Nirmala UI", "Gadugi", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

body:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO),
.win-type-xx-large:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO),
.win-type-x-large:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO),
.win-type-large:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO),
.win-type-medium:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO),
.win-type-small:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO),
.win-type-x-small:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO),
.win-type-xx-small:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO),
input:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO),
textarea:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO),
.win-textarea:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO),
button:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO),
select:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO),
option:-ms-lang(zh-HK, zh-TW, zh-Hant, zh-MO) {
	font-family: "Microsoft JhengHei UI", "Segoe UI", "Ebrima", "Nirmala UI", "Gadugi", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

html:-ms-lang(ar, dv, fa, he, ku-Arab, pa-Arab, prs, ps, sd-Arab, syr, ug, ur, qps-plocm) {
	direction: rtl;
}

/* =============================================================================
Fonts
========================================================================== */

/*Note that the font-face mixin in compass fails: http://compass-style.org/reference/compass/css3/font_face/*/

@font-face {
	font-family: "Segoe UI";
	font-weight: 200;
	src: local("Segoe UI Light");
}

@font-face {
	font-family: "Segoe UI";
	font-weight: 300;
	src: local("Segoe UI Semilight");
}

@font-face {
	font-family: "Segoe UI";
	font-weight: 400;
	src: local("Segoe UI");
}

@font-face {
	font-family: "Segoe UI";
	font-weight: 600;
	src: local("Segoe UI Semibold");
}

@font-face {
	font-family: "Segoe UI";
	font-weight: 700;
	src: local("Segoe UI Bold");
}

@font-face {
	font-family: "Segoe UI";
	font-style: italic;
	font-weight: 400;
	src: local("Segoe UI Italic");
}

@font-face {
	font-family: "Segoe UI";
	font-style: italic;
	font-weight: 700;
	src: local("Segoe UI Bold Italic");
}

@font-face {
	font-family: "Segoe UI Command";
	src: local("Segoe UI Symbol");
	font-weight: normal;
	font-style: normal;
}

/* =============================================================================
Typography
========================================================================== */

/* Headers */
h1, .win-type-xx-large {
	font-size: 42pt;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 1.1429; /* 64px when font-size is 42pt */
}

h2, .win-type-x-large {
	font-size: 20pt;
	font-weight: 200;
	line-height: 1.2; /* 32px when font-size is 20pt */
}

h3, .win-type-large {
	font-size: 11pt;
	font-weight: 600;
	line-height: 1.3636; /* 20px when font-size is 11pt */
}

h4, .win-type-medium, code, pre, samp {
	font-size: 11pt;
	font-weight: 400;
	line-height: 1.3636; /* 20px when font-size is 11pt */
}

body, h5, .win-type-small, legend {
	font-size: 11pt;
	font-weight: 300;
	line-height: 1.3636; /* 20px when font-size is 11pt */
}

.win-type-x-small {
	font-size: 11pt;
	font-weight: 300;
	line-height: 1.3636; /* 20px when font-size is 11pt */
}

h6, caption, figcaption, small, .win-type-xx-small {
	font-size: 9pt;
	font-weight: 400;
	line-height: 1.6667; /* 20px when font-size is 9pt */
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.win-type-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

h1.win-type-ellipsis, .win-type-xx-large.win-type-ellipsis {
	line-height: 1.4286; /* 80px when font-size is 42pt */
}

h2.win-type-ellipsis, .win-type-x-large.win-type-ellipsis {
	line-height: 1.5; /* 40px when font-size is 20pt */
}

/* Others */

dt, th {
	font-size: 11pt;
	font-weight: 700;
	line-height: 1.3636; /* 20px when font-size is 11pt */
}

abbr, acronym, address, blockquote, cite, dl, dd, li, ol, p, q, td, tr {
	font-weight: 300;
}

b, strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

body,
button, input,
textarea, .win-textarea,
select, option {
	letter-spacing: 0.02em;
}

code, pre, samp {
	font-family: "Consolas";
}

/* Links */
a {
	color: rgb(156, 114, 255);
}

a:hover:active {
	color: rgba(156, 114, 255, 0.6);
}

a:hover {
	color: rgba(156, 114, 255, 0.8);
}

a[disabled], a[disabled]:active {
	/* :disabled pseudo-class doesn't apply to a, even though disabled attribute stops navigation */
	color: rgba(255, 255, 255, 0.4);
}

.win-ui-light a {
	color: rgb(79, 26, 203);
}

.win-ui-light a:hover:active {
	color: rgba(79, 26, 203, 0.6);
}

.win-ui-light a:hover {
	color: rgba(79, 26, 203, 0.8);
}

.win-ui-light a[disabled], .win-ui-light a[disabled]:active {
	/* :disabled pseudo-class doesn't apply to a, even though disabled attribute stops navigation */
	color: rgba(0, 0, 0, 0.4);
}